/* === GENERAL === */

.popup-menu-content {
  border-radius: 20px;
}

/* === QUICK SETTINGS === */

.quick-settings {
  padding: 12px;
}

/* Toggles and toggle-with-menu block */
.quick-toggle,
.quick-toggle-has-menu {
  border-radius: 12px;
}

/* Border adjustments for LTR/RTL layouts */
.quick-toggle-has-menu .quick-toggle:ltr {
  border-radius: 12px 0 0 12px;
}
.quick-toggle-has-menu .quick-toggle:rtl {
  border-radius: 0 12px 12px 0;
}
.quick-toggle-has-menu .quick-toggle:ltr:last-child,
.quick-toggle-has-menu .quick-toggle:rtl:last-child {
  border-radius: 12px;
}
.quick-toggle-has-menu .quick-toggle-menu-button:ltr {
  border-radius: 0 12px 12px 0;
}
.quick-toggle-has-menu .quick-toggle-menu-button:rtl {
  border-radius: 12px 0 0 12px;
}

/* Remove separator line between toggle and menu button */
.quick-toggle-has-menu .quick-toggle-separator {
  background-color: transparent;
  width: 0;
}

/* Submenus (like sound output selection) with same border-radius as toggles */
.quick-toggle-menu {
  border-radius: 12px;
  padding: 12px 6px 6px 6px;
  margin: 12px;
}

.quick-toggle-menu .popup-menu-item,
.quick-toggle-menu .header {
  border-radius: 6px;
}

/* Header icons with subtle rounding */
.quick-toggle-menu .header .icon {
  width: 0;
  height: 0;
  padding: 0;
  opacity: 0;
}

.quick-toggle-menu .header .title {
  font-weight: 600;
  font-size: 1em;
}

/* === NOTIFICATION PANEL === */

.notification-default-mute-indicator {
  opacity: 0;
  width: 0;
  height: 0;
}

.notification-panel-button {
  -natural-hpadding: 6px;
  -minimum-hpadding: 6px;
}

.notification-indicator-dot {
  border-radius: 999px;
  background-color: -st-accent-color;
  width: 6px;
  height: 6px;
  margin-right: 4px;
}

.notification-menu {
  width: 360px;
  min-height: 320px;
  max-height: 640px;
  padding: 0px;
}

.notification-menu-emptystate-icon {
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 1em;
}

.notification-menu-emptystate-title {
  font-size: 1.2em;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 0.5em;
}

.notification-menu-emptystate-label {
  font-weight: 400;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.6);
}

.notification-menu-controls {
  padding: 0 12px 12px 12px;
}

.notification-menu-constrols-toggle.is-active {
  background-color: -st-accent-color;
  color: -st-accent-fg-color;
}

.notification-menu-scroll-view {
  padding: 12px 0 0 12px;
  margin: 0;
}

.notification-menu .message {
  border-radius: 12px;
}

.notification-menu .media-message {
  background-color: st-mix(-st-accent-color, #54545a, 25%);
}

.notification-menu .message-media-control {
  padding: 12px;
}

.notification-menu .message-media-control:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.notification-menu .message-media-control:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.notification-menu .media-message .message-header,
.notification-menu .media-message .message-header .message-source-icon,
.notification-menu .media-message .message-header .message-header-content {
  color: rgba(255, 255, 255, 0.6);
}

/* === CALENDAR === */

#calendarArea {
  padding: 0; /* + 6px from .popup-menu-content */
}

.calendar {
  margin-top: 6px;
}

.calendar-events {
  margin: 6px;
  width: 248px;
  spacing: 0.5em;
}

.calendar-event .event-title {
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 4px;
}

.calendar-event .event-time {
  font-size: 0.9em;
  font-feature-settings: "tnum";
  color: #9b9b9d;
}

.calendar-event.is-past .event-title {
  color: #9b9b9d;
}

.calendar-events .no-events {
  font-weight: 400;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.6);
}

.calendar .calendar-month-header {
  margin-bottom: 12px;
}

.calendar .calendar-month-header .calendar-month-label {
  text-align: left;
}

.calendar .calendar-day.calendar-weekend {
 color: #fff;
}

.calendar .calendar-day.calendar-other-month {
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
}

.calendar .calendar-day.calendar-other-month.calendar-weekend {
  color: rgba(255, 255, 255, 0.5);
}
