#dashtodockContainer.bottom #dash .dash-background {
  /* background-color: rgba(34, 34, 38, 0.75) !important; */
  background-color: rgba(0, 0, 0, 0.6) !important;
}

#dashtodockContainer .dash-item-container .overview-tile:hover .overview-icon,
#dashtodockContainer .dash-item-container .show-apps:hover .overview-icon {
  background-color: transparent !important;
}

#dashtodockContainer .dash-item-container .overview-tile.focused .overview-icon,
#dashtodockContainer .dash-item-container .app-well-app.focused > .overview-icon {
  background-color: transparent !important;
}

#dashtodockContainer .show-apps:active .overview-icon,
#dashtodockContainer .show-apps:checked .overview-icon {
  background-color: transparent !important;
}
