/* Minified Calendar Styles */

/* Hide Weather */
.weather-button,
.weather-button * {
  padding: 0;
  margin: 0;
  border: 0;
  height: 0;
  width: 0;
}

/* Hide Today button (Sunday, January 4, 2026) */
.datemenu-today-button {
  padding: 0;
  margin: 0;
  border: 0;
  height: 0;
  width: 0;
  opacity: 0;
  color: #2e2e32 !important;
}
